@import url("import_fonts.css");
@import url("free_shipping.css");
@import url("lang_drop_down.css");
@import url("search_box.css");
@import url("mega_menu.css");
@import url("banner_fade_in_out.css");
@import url("breadcrumb.css");
@import url("image-thumbnails.css");
@import url("footer.css");
@import url("product_info.css");
@import url("toast.css");
@import url("slide_cart_grid.css");
@import url("increase_decrease_button.css");
@import url("checkout_button.css");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Good Times Rg";
}


.price-wrapper{
  position: relative; 
  display: inline-block;
  margin-right:5px;
}

.price-slash{
  position: relative;
  width: 100%;
  height: 0;
  border-top: 2px solid red;
  transform: rotate(-10deg);
  top: 15px;
}

.price{ 
  font-size: 18px;
}

.price-discount{ 
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}

.rating-box {
  color: #f0f0f0;
  margin: 0;
  height: 1rem;
  width: 9rem;
}

.rating-star {
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
  padding: 0 0.2rem;
  position: relative;
  display: block;
  float: left;
}
/*   rating */
.full-star:before {
  color: #f2b01e;
  content: "\2605";
  position: absolute;
  left: 0;
  overflow: hidden;
}

.empty-star:before {
  content: "\2605";
  position: absolute;
  left: 0;
  overflow: hidden;
}

.half-star:before {
  color: #f2b01e;
  content: "\2605";
  width: 50%;
  position: absolute;
  left: 0;
  overflow: hidden;
}

.half-star:after {
  content: '\2605';
  position: absolute;
  left: 1.5rem;
  width: 50%;
  text-indent: -1.5rem;
  overflow: hidden;
}

a.product-heart:hover{
  cursor: pointer;
  color: red;
  fill: red;
}

.span-favorite{
  font-size:24px;
  color:black;
  font-variation-settings: "FILL" 1;

}

/*
shopping cart with counter
*/

.cart {
  position: relative;
  display: block;
  width: 28px;
  height: 28px;
  height: auto;
  overflow: hidden;
}
.cart .material-icons {
  position: relative;
  top: 4px;
  z-index: 1;
  font-size: 24px;
  color: white;
}
.cart .count {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  font-size: 11px;
  border-radius: 50%;
  background: #d60b28;
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: block;
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

