<div class="footer-grid">
    <div class="footer-col1">
        <h1>love me sexy</h1>
        Discover new and exciting ways to bring fun to your sex life with Lusty Age. Our extensive selection of adult
        toys
        offers something for everyone, and you can shop with confidence knowing that every product comes with discreet
        packaging.
    </div>

    <div class="footer-col2">
        <h1>Quick Links</h1>
        <ul>
            <li>Shipping Policy</li>
            <li>Discreet Packaging</li>
            <li>Track Your Order</li>
            <li>About Us</li>
            <li>Returns & Refunds</li>
            <li>Affiliate Program</li>
            <li>Terms of Service</li>
            <li>Intellectual Property Rights</li>
            <li>Privacy Policy</li>
            <li>Contact Us</li>
        </ul>
    </div>

    <div class="footer-col3">
        <h1>Contact Us</h1>
        If you have any questions about orders, delivery, shipment tracking, etc., please contact us via:
        support@lustyage.com
    </div>

    <div class="payment-type">
        <ul class="payment-list">
            <li><img src="static/images/paypal.svg" style="width:58px;height:16px;margin-right:10px"></li>
            <li><img src="static/images/New_Zippay.svg" style="width:51px;height:15px;margin-right:10px"></li>
            <li><img src="static/images/afterpay.svg" style="width:75px;height:16px;margin-right:10px"></li>
            <li><img src="static/images/visa.svg" style="width:44px;height:15px;margin-right:10px"></li>
            <li><img src="static/images/mastercard.svg" style="width:25px;height:18px;margin-right:10px"></li>
            <li><img src="static/images/amex.svg" style="width:17px;height:18px;margin-right:10px"></li>
            <li><img src="static/images/applepay.svg" style="width:29px;height:18px;margin-right:10px"></li>
            <li><img src="static/images/weChatPay.svg" style="width:65px;height:20px;margin-right:10px"></li>
            <li><img src="static/images/alipay.svg" style="width:63px;height:16px;margin-right:10px"></li>
        </ul>
    </div>
    <div class="footer-empty">&nbsp;</div>

    <div class="reserved">
        <div>&#169;&nbsp;2023 love me sexy All Right Reserved</div>
    </div>
    <div class="footer-empty1">&nbsp;</div><div class="footer-empty1">&nbsp;</div><div class="footer-empty1">&nbsp;</div>

</div>