{% extends "base.html" %}

{% block content %}
<div class="product-info-grid">
   <div class="product_empty1"></div>
   <div class="product_info">
      <div style="margin-bottom:15px;">Save items</div>
      <div class="product-details-grid" id="product_id_1">
         <div class="product-details-c0">
            <img class="product-m" src="static/images/products/E_1.jpg">
         </div>
         <div class="product-details-c1">
            <div class="product-details-rows-grid">
               <div class="product-details-rows-1">
                  <div style="float:left;">Product Title-1</div>
                  <div style="float:right;margin-right:20px;">
                     <div id="mydiv" data-arg="product_id_1">X</div>

                  </div>
               </div>
               <div class="product-details-rows-2">
                  Product Description
               </div>
               <div class="product-details-rows-3">
                  <div style="float:left;">
                     <select name="country" id="country">
                     <option>Select an option</option>
                     <option value="nepal">Nepal</option>
                     <option value="usa">USA</option>
                     <option value="australia">Australia</option>
                     </select>
                  </div>
                  <div style="float:left;">
                     <select name="country" id="country">
                     <option>Select an option</option>
                     <option value="nepal">Nepal</option>
                     <option value="usa">USA</option>
                     <option value="australia">Australia</option>
                     </select>
                  </div>
                  <div id="wrapper-addtocart">
                     ADD TO CART
                  </div>
               </div>
               <div class="product-details-rows-4">
                  <div>$1000</div>
               </div>
            </div>
         </div>
      </div><!-- end item 1-->
      <div class="product-details-grid" id="product_id_2">
         <div class="product-details-c0">
            <img class="product-m" src="static/images/products/E_1.jpg">
         </div>
         <div class="product-details-c1">
            <div class="product-details-rows-grid">
               <div class="product-details-rows-1">
                  <div style="float:left;">Product Title -2</div>
                  <div style="float:right;margin-right:20px;">
                     <div id="mydiv" data-arg="Hello world!">Click me</div>

                  </div>
               </div>
               <div class="product-details-rows-2">
                  Product Description
               </div>
               <div class="product-details-rows-3">
                  <div style="float:left;">
                     <select name="country" id="country">
                     <option>Select an option</option>
                     <option value="nepal">Nepal</option>
                     <option value="usa">USA</option>
                     <option value="australia">Australia</option>
                     </select>
                  </div>
                  <div style="float:left;">
                     <select name="country" id="country">
                     <option>Select an option</option>
                     <option value="nepal">Nepal</option>
                     <option value="usa">USA</option>
                     <option value="australia">Australia</option>
                     </select>
                  </div>
                  <div id="wrapper-addtocart">
                     <a id="btn-outline" href="http://www.aydev.net46.net" target="_blank">
                     ADD TO CART
                    </a>
                  </div>
               </div>
               <div class="product-details-rows-4">
                  <div>$1000</div>
               </div>
            </div>
         </div>
      </div><!-- end item 1-->
      </div>
   </div>
   </div>
   <div class="signed_in">ggggg</div>
   <div class="product_empty2"></div>
</div>


{% endblock %}